.homepage--container{
    height: 100vh;
    background-image: url(/public/assets/home-background.jpg);
    background-size: 120rem;
    overflow-y: hidden;

    & div{
        color: white;
    }
}

.header{
    display: flex;
    flex-direction: row;
}

.dont{
    display: none;
}

.settings--panel{
    display: flex;
    flex-direction: column;

    & img{
        width: 60px;
        cursor: pointer;
    }
}

.settings::before{
    content: '';
    position: absolute;
    left: 140px;
    top: -30px;
    border: 15px solid transparent;
    border-bottom-color: #414141;
}

.settings, .dont--pop{
    transition: opacity 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #414141;
    border-radius: 8px;
    padding: 10px;
    z-index: 1;

    & form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.settings{
    opacity: 1;
}

.settings p, .settings div, .login{
    cursor: pointer;
    color: white;
    width: max-content;

    &:hover{
        transition: 0.3s;
        color: var(--RED);
    }
}

.settings input{
    border-radius: 3px;
    padding: 3px;
    border: none;
}

.username{
    background: white;
}

.submit{
    background: var(--RED);
    border: none;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    padding: 4px;
    cursor: pointer;

    &:hover{
        transition: 0.2s ease-out;
        background: var(--DARK-RED);
    }
}

.profile--picture{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 5px 15px;
    opacity: 0.7;
}

.change--warning div{
    color: var(--DARK-RED);
    cursor: auto;

    &:hover{
        color: var(--DARK-RED);
    }
}

.rank{
    width: 45px;
    height: 30px;
    margin: 17px 0;
    margin-left: 10px;
}

.header--text{
    font-size: 27px;
    margin: 15px;
    color: var(--RED);
}

.red{
    color: red;
}

.section{
    font-size: 30px;
    padding-top: 12px;
    margin: 0 auto;
    color: #949494;
}

.section:hover{
    transition: 0.3s;
    color: #f2f3ec;
}

.game--list{
    width: 69%;
    float: left;
}

.list--news{
    display: flex;
    flex-direction: column;
    float: right;
    width: 30%;
}

.news--box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news--container{
    overflow-y: auto;
    height: 85vh;
}

.games--container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.game{
    opacity: 0.9;
    border-radius: 5px;
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border-right: 1px solid rgb(123, 123, 123); 
    background-color: #414141;
    cursor: pointer;
    text-decoration: none;
}

.game--list--header{
    opacity: 0.9;
    display: flex;
    background-color: rgb(19, 19, 19);
    margin-bottom: 10px;
    margin-left: 7px;
    border-radius: 5px;
    border-right: 1px solid rgb(123, 123, 123);
}

.game--list--header p{
    margin: 10px;
    margin-left: 300px;
    margin-right: 370px;
    font-size: 30px;
    color:  #cecece;
} 

.game--list--header input{
    font-size: 15px;
    width: 200px;
    margin: 10px;
    padding: 7px;
    border: 1px solid #cecece;
    border-radius: 8px;
    color:  #bdbdbd;
    background-color: #374448;
}

.game--list--header form button{
    border: none;
    background-color: #374448;
}

.game--list--header form i{
    font-size: 20px;
    color: #cecece;;
}

.game:nth-child(even) {
    background-color: #353535;
}

.game:hover{
    transition: 0.3s;
    background-color: #151515;
}

.game a{
    font-size: 14px;
    margin: 8px 0 0 15px;
    color: #f3ebeb;
    letter-spacing: 0.7px;
    font-weight: 800;
}

.game p{
    color: #f3ebeb;  
}

.teams{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info{
    display: flex;
    gap: 8px;

    & .bet{
        text-decoration: none;
        font-weight: normal;
        border: 1px solid rgb(7, 0, 0);
        border-radius: 8px;
        padding: 2px;
        width: 50px;
        text-align: center;
        color: whitesmoke;
        background-color: var(--RED);
        font-size: 25px;

        &:hover{
            background: var(--DARK-RED);
        }
    }
}

.news{
    overflow-y: scroll;
}

.news--header{
    float: right;
    margin-right: 10px;
    background-color: #2a2a2a;
    border-radius: 7px;
    margin-bottom: 10px;
}

.news--header--text{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color:  #e6e6e6;
    border-left: 1px solid rgb(123, 123, 123);
    border-radius: 5px;
    opacity: 0.9;
}

.news{
    background-color: rgb(19, 19, 19);
    opacity: 0.8;
    float: right;
    border-left: 1px solid rgb(123, 123, 123);
    /* border-bottom: 1px solid rgb(200, 200, 200); */
    border-radius: 7px;
    margin-right: 12px;
    margin-bottom: 4px;
    /* margin-left: 2px; */
    padding: 7px;
}

.news--image{
    width: 85%;
    border-radius: 7px;
}

.news--title{
    text-decoration: none;
    color: #f3ebeb;
    overflow-wrap: break-word;
    font-size: 18px;
    width: 90%;
    font-weight: bold;
}

.news--title:hover{
    color: var(--RED);
    transition: 0.3s;   
}

.news p{
    margin-top: 2px;
    inline-size: 85%;
    color: #f3ebeb;
    font-size: 13px;
}

.navbar{
    z-index: 1;
}

.navbar ul{
  list-style: none;
  display: flex;
}

.navbar ul {
    display: none;
    flex-direction: column;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #f8f8f8;
}

.navbar ul.active {
    display: flex;
}

.navbar li {
    margin: 15px 0;
}
  