*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.detail--view--container{
    height: 100vh;
    background-size: 120rem;
    background-image: url(/public/assets/home-background.jpg);
    color: white;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    overflow-y: hidden;

    & .games--list{
        background: rgba(128, 128, 128, .3);
        padding: 0.7rem;
        height: 97vh;
        overflow-y: auto;
        border-radius: 8px;

        & .list--title{
            color: var(--RED);
            font-size: 30px;
            margin-bottom: 30px;
        }

        & .games{
            display: flex;
            gap: 1rem;
        }

        & .each--game{
            background: rgba(128, 128, 128, .3);
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            width: 100%;
            font-size: 18px;

            &:hover{
                background: rgba(96, 96, 96, 0.3);
                transition: 0.3s;
            }
        }

    }

    & .game--container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    & .game--overview{
        background-color: rgba(128, 128, 128, .3);
        width: max-content;
        padding: 2rem;
        border-radius: 8px;
        height: fit-content;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .game--date{
            text-align: center;
        }

        .teams--detail{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 22px;

            & .team1--detail, .team2--detail{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                font-size: 1rem;
            }

            & .team1--detail img, .team2--detail img{
                width: 60px;
                height: 60px;
            }
        }

        & .bets{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 12rem;
            
            & .xG{
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                background: var(--RED);
                padding: 8px;
                cursor: pointer;
                border-radius: 8px; 

                &:hover{
                    background: var(--DARK-RED);
                    transition: 0.3s;
                }
            }
        }

        & .players{
            background-color: rgba(128, 128, 128, .3);
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 5.5rem;
            border-radius: 8px;
        }

        & .player {
            text-decoration: none;
            color: white;
        }
    }

}